<div>
    <h2 id="page-heading">
        <span>Wardrobes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wardrobe" [routerLink]="['/wardrobe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Wardrobe
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="wardrobes?.length === 0">
        <span>No wardrobes found</span>
    </div>
    <div class="table-responsive" *ngIf="wardrobes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Logo Url</span></th>
            <th scope="col" ><span>User</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wardrobe of wardrobes ;trackBy: trackId">
                <td><a [routerLink]="['/wardrobe', wardrobe.id, 'view' ]">{{wardrobe.id}}</a></td>
                <td>{{wardrobe.name}}</td>
                <td>{{wardrobe.logoUrl}}</td>
                <td>
                    {{wardrobe.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/wardrobe', wardrobe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wardrobe', wardrobe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(wardrobe)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
