<div>
    <h2 id="page-heading">
        <span>Styles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-style" [routerLink]="['/style/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Style
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="styles?.length === 0">
        <span>No styles found</span>
    </div>
    <div class="table-responsive" *ngIf="styles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Created</span></th>
            <th scope="col" ><span>User</span></th>
            <th scope="col" ><span>Cloths</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let style of styles ;trackBy: trackId">
                <td><a [routerLink]="['/style', style.id, 'view' ]">{{style.id}}</a></td>
                <td>{{style.name}}</td>
                <td>{{style.created | date:'medium'}}</td>
                <td>
                    {{style.userId}}
                </td>
                <td>
                    <span *ngFor="let cloths of style.cloths; let last = last">
                            <a class="form-control-static" [routerLink]="['/cloth', cloths?.id, 'view' ]">{{cloths.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/style', style.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/style', style.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(style)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
