<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="style">
            <h2><span>Style</span> {{style.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{style.name}}</span>
                </dd>
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{style.created}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{style.userId}}
                </dd>
                <dt><span>Cloths</span></dt>
                <dd>
                    <span *ngFor="let cloths of style.cloths; let last = last">
                        <a [routerLink]="['/cloth', cloths?.id, 'view' ]">{{cloths.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/style', style.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
