<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="upload">
            <h2><span>Upload</span> {{upload.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{upload.name}}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{upload.url}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{upload.type}}</span>
                </dd>
                <dt><span>Cloth</span></dt>
                <dd>
                    <div *ngIf="upload.clothId">
                        <a [routerLink]="['/cloth', upload.clothId, 'view']">{{upload.clothId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/upload', upload.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
