<div>
    <h2 id="page-heading">
        <span>Uploads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-upload" [routerLink]="['/upload/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Upload
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="uploads?.length === 0">
        <span>No uploads found</span>
    </div>
    <div class="table-responsive" *ngIf="uploads?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Url</span></th>
            <th scope="col" ><span>Type</span></th>
            <th scope="col" ><span>Cloth</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let upload of uploads ;trackBy: trackId">
                <td><a [routerLink]="['/upload', upload.id, 'view' ]">{{upload.id}}</a></td>
                <td>{{upload.name}}</td>
                <td>{{upload.url}}</td>
                <td>{{upload.type}}</td>
                <td>
                    <div *ngIf="upload.clothId">
                        <a [routerLink]="['/cloth', upload.clothId , 'view' ]" >{{upload.clothId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/upload', upload.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/upload', upload.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(upload)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
