<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cloth">
            <h2><span>Cloth</span> {{cloth.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{cloth.name}}</span>
                </dd>
                <dt><span>Favourite</span></dt>
                <dd>
                    <span>{{cloth.favourite}}</span>
                </dd>
                <dt><span>Available</span></dt>
                <dd>
                    <span>{{cloth.available}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="cloth.image">
                        <a (click)="openFile(cloth.imageContentType, cloth.image)">
                            <img [src]="'data:' + cloth.imageContentType + ';base64,' + cloth.image" style="max-width: 100%;" alt="cloth image"/>
                        </a>
                        {{cloth.imageContentType}}, {{byteSize(cloth.image)}}
                    </div>
                </dd>
                <dt><span>Wardrobe</span></dt>
                <dd>
                    <div *ngIf="cloth.wardrobeId">
                        <a [routerLink]="['/wardrobe', cloth.wardrobeId, 'view']">{{cloth.wardrobeName}}</a>
                    </div>
                </dd>
                <dt><span>Cloth Type</span></dt>
                <dd>
                    <div *ngIf="cloth.clothTypeId">
                        <a [routerLink]="['/cloth-type', cloth.clothTypeId, 'view']">{{cloth.clothTypeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cloth', cloth.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
