<div>
    <h2 id="page-heading">
        <span>Cloths</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cloth" [routerLink]="['/cloth/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Cloth
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cloths?.length === 0">
        <span>No cloths found</span>
    </div>
    <div class="table-responsive" *ngIf="cloths?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Favourite</span></th>
            <th scope="col" ><span>Available</span></th>
            <th scope="col" ><span>Image</span></th>
            <th scope="col" ><span>Wardrobe</span></th>
            <th scope="col" ><span>Cloth Type</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cloth of cloths ;trackBy: trackId">
                <td><a [routerLink]="['/cloth', cloth.id, 'view' ]">{{cloth.id}}</a></td>
                <td>{{cloth.name}}</td>
                <td>{{cloth.favourite}}</td>
                <td>{{cloth.available}}</td>
                <td>
                    <a *ngIf="cloth.image" (click)="openFile(cloth.imageContentType, cloth.image)">
                        <img [src]="'data:' + cloth.imageContentType + ';base64,' + cloth.image" style="max-height: 30px;" alt="cloth image"/>
                    </a>
                    <span *ngIf="cloth.image">{{cloth.imageContentType}}, {{byteSize(cloth.image)}}</span>
                </td>
                <td>
                    <div *ngIf="cloth.wardrobeId">
                        <a [routerLink]="['/wardrobe', cloth.wardrobeId , 'view' ]" >{{cloth.wardrobeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cloth.clothTypeId">
                        <a [routerLink]="['/cloth-type', cloth.clothTypeId , 'view' ]" >{{cloth.clothTypeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cloth', cloth.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cloth', cloth.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(cloth)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
