<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to 4Stylish!</h1>
        <p class="lead">Customize yourself in a better way today!</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>

        <p>
            If you have any question to a developers:
        </p>

        <ul>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">Project manager</a></li>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">Support</a></li>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">App developers</a></li>
        </ul>

        <p>
            <span>If you like our app, join our university and co-op with us!</span> <a href="http://kipu-rc.ru/" target="_blank" rel="noopener noreferrer">Visit CEPU</a>!
        </p>
    </div>
</div>
